.compare-bikes {
  margin-bottom: 92px;
  margin: 0 auto;

  @include contentPaddingInline;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 144px;
  }


  &__products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 20px;

    @include onTablet {
      row-gap: 48px;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 24px;
      margin-inline: auto;
    }

    @include onDesktop {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 24px;
    }
  }
}
