
.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include contentPaddingInline;
  @include onTablet {
    padding-block: 36px;
  }

  &__logo {
    display: flex;

    @include hover(transform, scale(1.1));
  }
}
